tr,td{
    border:1px;
    border-style: solid;
}
td{
    height: 50px;
    width: 50px;
    background-color: white;
}

.Red{
    border-color: black;
    background-color: red;
    color:white;
}

.Blue{
    border-color: black;
    background-color: blue;
    color:white;
}

.Green{
    border-color: black;
    background-color:green;
    color:white;
}

.Yellow{
    border-color: black;
    background-color: yellow;
    color:white;
}